<% if @recipes.empty? %>
  <br><p>Nenhuma receita encontrada.</p>
<% else %>
<h1>Minhas Receitas</h1>
  <% @recipes.each do |recipe| %>  
    <h2><%= link_to recipe.tittle, recipe %></h2>
    <p>Receita enviada em <%= recipe.form_date(recipe.created_at) %></p><br>
  <% end %>
<% end %>
<%= link_to 'Voltar', root_path, class: 'botao_voltar' %>