/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form {

    display: inline-block;
    width: 200px;
    font-family: verdana;
}

input[type=text], textarea, input[type=number]  {
  background-color: lightgreen;
  width: 400px;
}

input[type=text]:focus, textarea:focus, input[type=number]:focus  {
  background-color: green;
  width: 400px;
}

.titulo {
	font-family: verdana;
	text-align: center;
	letter-spacing: 6px;
}

.botao_voltar { font-family: verdana;
  text-decoration: none;
  padding: 4px;
  color: black;
  font-weight: bold;
  transition: all .3s ease-in;
  float: right;
}

.botao_voltar:hover { 
  background-color: green;
}
.select_recipe_type {
  background-color: lightgreen;
  width: 400px;
}

.select_recipe_type:focus {
  background-color: green;
}

p { 
  font-family: verdana;
}

.quadro { 
  font-family: verdana;
  background-color: white; 
  transition: all .3s ease-in;
  font-weight: none;
  display: inline-block;
  margin: 5px;
  padding: 3px;
  border: 1px black solid;
  width: 300px;
  height: 200px;
  color: black;
  text-decoration: none;
}

.quadro:hover { 
  background-color: lightgreen; 
} 

.nav-buttons { 
  font-family: verdana;
  text-decoration: none;
  padding: 7px;
  color: black;
  font-weight: bold;
  transition: all .3s ease-in;
}

.nav-buttons:hover { 
  background-color: #90ee90;
}

body {
	margin: auto;
	width: 50%;
}